body {
    margin: 0 1em;
}

.container {
    position: relative;
    max-width: 870px;
    margin: 0 auto;
}

.show-catalogue {
    position: fixed;
    left: 50%;
    width: 100%;
    max-width: 870px;
    transform: translateX(-50%);
    z-index: 10;
}

.show-catalogue>span {
    float: right;
    margin-right: 10px;
    font-size: 1.2em;
    color: #8d8d8d;
}

.show-catalogue a {
    color: #636363;
    text-decoration: none;
    transition: .5s ease;
}

.show-catalogue a:hover {
    color: #525252;
    text-decoration: underline;
}

.hljs {
    padding: 0 !important;
}

nav>h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    color: #585858;
}

.markdown-body {
    margin: 1em 0;
}

.markdown-body .header-anchor {
    color: #b7b7b7;
}

.markdown-body del {
    color: #BDBDBD;
}

.danmaku-container {
    position: relative;
    border: 2px dashed #A4A4A4;
    margin-bottom: 10px;
    max-width: 100%;
}

.small {
    width: 500px;
    height: 100px;
}

.big {
    width: 500px;
    height: 281px;
}